BasicBattleTracking/BasicBattleTracking/bin/Debug/Save/A new note.txt
*.txt
BasicBattleTracking/BasicBattleTracking/publish/Application Files/BasicBattleTracking_1_0_0_8/BasicBattleTracking.exe.deploy
BasicBattleTracking/BasicBattleTracking/publish/Application Files/BasicBattleTracking_1_0_0_9/BasicBattleTracking.exe.deploy
BasicBattleTracking/BasicBattleTracking/publish/Application Files/BasicBattleTracking_1_0_0_9/BasicBattleTracking.exe.deploy
BasicBattleTracking/BasicBattleTracking/publish/Application Files/BasicBattleTracking_1_0_0_10/BasicBattleTracking.exe.deploy
BasicBattleTracking/BasicBattleTracking/publish/Application Files/BasicBattleTracking_1_0_0_8/BasicBattleTracking.exe.deploy
*.deploy